<!DOCTYPE html>
<html lang="en">
<head>
  <title>{{ title }}</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
</head>
<body>
    <nav class="navbar navbar-inverse">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="#">Bukalapak Profile Scrape</a>
        </div>
        <ul class="nav navbar-nav">
          <li class="active"><a href="/">Home</a></li>
        </ul>
      </div>
    </nav>
    <!--  The Content Goes Heres -->
    <div class="container">
      <form action="/" method="post">
          <div class="row">
              <div class="col-md-4">
              <h3>{{ title }}</h3>
              <p>Scraping Katalog Produk unofficial Toko di Bukalapak</p>
          </div>
              <div class="col-md-8">
                  <div class="form-group">
                      {% with messages = get_flashed_messages(with_categories=true) %}
                            {% if messages %}

                                {% for message in messages %}
                                    {% if "Error" not in message[1]: %}
                                        <div class="alert alert-info">
                                             {{ message[1]|safe }}
                                        </div>
                                    {% endif %}

                                    {% if "Error" in message[1]: %}
                                        <div class="alert alert-sm alert-info">
                                            {{ message[1] }}
                                        </div>
                                    {% endif %}
                                {% endfor %}
                            {% endif %}
                        {% endwith %}
                      {{ form.csrf }}
                      <input type="text" class="form-control" id="name" placeholder="Paste Url Toko" name="name">
                  </div>
                  <button type="submit" class="btn btn-primary">Proses</button>
                  <hr />
              </div>
          </div>
      </form>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg12">
                <table class="table table-hover">
                    <thead>
                      <tr>
                        <th>nama</th>
                        <th>url</th>
                        <th>Terjual</th>
                        <th>harga</th>
                      </tr>
                    </thead>
                    <tbody>
                    {% for d in data %}
                      <tr>
                        <td>{{ d['name'] }}</td>
                        <td>{{ d['url'] }}</td>
                        <td>{{ d['terjual'] }}</td>
                        <td>{{ d['harga'] }}</td>
                      </tr>
                    {% endfor %}
                    </tbody>
                  </table>
            </div>
        </div>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</body>
</html>
